In [ ]:
warna = []

In [ ]:
hobi = ["AGUS"]

In [ ]:
buah = ["jeruk","apel","mangga","duren"]

In [ ]:
my_freinds = ["rama","gilang","hendy","hilmi","ezra"]

In [ ]:
print ("isi my_freinds indeks ke-3 adalah: {}".format(my_freinds[3]))

isi my_freinds indeks ke-3 adalah: hilmi

In [ ]:
print ("Semua teman: ada {} orang".format(len(my_freinds)))
for freind in my_freinds : print(freind)

Semua teman: ada 5 orang
rama
gilang
hendy
hilmi
ezra

In [2]:
buah = ["Apel","mangga","nangka","jeruk","nanas"]
buah.append("manggis")
print(buah)

['Apel', 'mangga', 'nangka', 'jeruk', 'nanas', 'manggis']

In [ ]:
for i in range(5):
  print("perulangan ke -", i)

perulangan ke - 0
perulangan ke - 1
perulangan ke - 2
perulangan ke - 3
perulangan ke - 4

In [3]:
list_nilai = [21,22,23,24,25,26,27,28,29,30]
print("List Nilai : \n",list_nilai)

List Nilai :
 [21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [4]:
print("\nJumlah Index list nilai (len) : \n", len(list_nilai))

Jumlah Index list nilai (len) :
 10

In [7]:
print("\nJumlah Nilai 25 Dalam List (count) : \n", list_nilai.count(25))

Jumlah Nilai 25 Dalam List (count) :
 1

In [12]:
print("\nMenambah element dalam list (append) : ")
list_nilai.append(32)
list_nilai.append(30)
print("List Nilai : ",list_nilai)

Menambah element dalam list (append) :
List Nilai :  [21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 32, 32, 30, 32, 30, 32, 30]

In [13]:
print("\nIndex ke 28 (index) : \n", list_nilai.index(28))

Index ke 28 (index) :
 7

In [15]:
list_nilai.insert(21,22)
print("\nTambah Nilai List (Insert) : \n", list_nilai)

Tambah Nilai List (Insert) :
 [21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 32, 32, 30, 32, 30, 32, 30, 22, 22]

In [21]:
list_nilai.pop(5)
list_nilai.pop(8)
print("\nList Nilai (pop) : \n",list_nilai)

List Nilai (pop) :
 [21, 22, 23, 24, 25, 32, 32, 30, 30, 32, 30]

In [22]:
list_nilai.remove(22)
list_nilai.remove(25)
print("\nList Nilai (remove) : \n", list_nilai)

List Nilai (remove) :
 [21, 23, 24, 32, 32, 30, 30, 32, 30]

In [23]:
list_nilai2 = [21,23,24,30]
list_nilai.extend(list_nilai2)
print("\nList Nilai (extend : \n", list_nilai)

List Nilai (extend :
 [21, 23, 24, 32, 32, 30, 30, 32, 30, 21, 23, 24, 30]

In [26]:
list_nilai.reverse()
print("\nList Nilai (reverse) : \n", list_nilai)

List Nilai (reverse) :
 [21, 23, 24, 32, 32, 30, 30, 32, 30, 21, 23, 24, 30]

In [27]:
list_nilai.sort()
print("\nList Nilai (sort) : \n", list_nilai)

List Nilai (sort) :
 [21, 21, 23, 23, 24, 24, 30, 30, 30, 30, 32, 32, 32]

In [28]:
print("\nNilai Terbanyak (max) : \n", max(list_nilai))

Nilai Terbanyak (max) :
 32

In [29]:
print("\nNilai terendah (min) : \n", min(list_nilai))

Nilai terendah (min) :
 21

In [30]:
print("\nTotal penjumlahan nilai dari list_nilai (sum) : \n",
sum(list_nilai))

Total penjumlahan nilai dari list_nilai (sum) :
 352