<a href="https://colab.research.google.com/github/Khanesa07/Struktur_data_0037/blob/main/Praktikum_2_G_211_22_0037.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Membuat tuple kosong
my_tuple = ()

# Membuat tuple dengan beberapa elemen
my_tuple = (1, 2, 3, 4, 5)

# Membuat tuple dengan elemen campuran (angka dan string)
my_tuple = (1, "dua", 3.0)

# Tuple dapat juga dibuat tanpa tanda kurung
my_tuple = 1, 2, 3

# Membuat tuple dengan satu elemen
single_element_tuple = (42,)  # Harus ada koma setelah elemen tunggal

print(my_tuple)

(1, 2, 3)

In [ ]:
# Membuat tuple awal
my_tuple = (1, 2, 3, 4, 5)

# Menghapus elemen dengan membuat tuple baru tanpa elemen yang ingin dihapus
new_tuple = my_tuple[:2] + my_tuple[3:]

print(new_tuple)

(1, 2, 4, 5)

In [ ]:
# Membuat tuple awal
my_tuple = (1, 2, 3, 4, 5)

# Menambahkan elemen baru ke tuple dengan membuat tuple baru
new_tuple = my_tuple + (6,)

# Menggantikan elemen di dalam tuple dengan membuat tuple baru
updated_tuple = my_tuple[:3] + (10, 20, 30) + my_tuple[4:]

print(new_tuple)
print(updated_tuple)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 10, 20, 30, 5)

In [ ]:
# Membuat dictionary kosong
my_dict = {}

# Menambahkan elemen ke dalam dictionary
my_dict['nama'] = 'Khanesa'
my_dict['usia'] = 19
my_dict['kota'] = 'Sanggau'

# Menampilkan dictionary
print(my_dict)

# Mengakses nilai dari dictionary
nama = my_dict['nama']
usia = my_dict['usia']
kota = my_dict['kota']

print(f'Nama: {nama}')
print(f'Usia: {usia}')
print(f'Kota: {kota}')

# Mengubah nilai dalam dictionary
my_dict['usia'] = 31

# Menghapus elemen dari dictionary
del my_dict['kota']

# Mengakses dictionary setelah diubah
print(my_dict)

{'nama': 'Khanesa', 'usia': 19, 'kota': 'Sanggau'}
Nama: Khanesa
Usia: 19
Kota: Sanggau
{'nama': 'Khanesa', 'usia': 31}

In [ ]:
# Membuat dictionary kosong
my_dict = {}

# Menambahkan elemen ke dalam dictionary
my_dict['nama'] = 'Khanesa'
my_dict['usia'] = 19
my_dict['kota'] = 'Sanggau'

# Menampilkan dictionary
print(my_dict)

# Mengakses nilai dari dictionary
nama = my_dict['nama']
usia = my_dict['usia']
kota = my_dict['kota']

print(f'Nama: {nama}')
print(f'Usia: {usia}')
print(f'Kota: {kota}')

# Mengubah nilai dalam dictionary
my_dict['usia'] = 22

# Menghapus elemen dari dictionary
del my_dict['kota']

# Mengakses dictionary setelah diubah
print(my_dict)

# Iterasi melalui key dan value dalam dictionary
for key, value in my_dict.items():
    print(f'{key}: {value}')

{'nama': 'Khanesa', 'usia': 19, 'kota': 'Sanggau'}
Nama: Khanesa
Usia: 19
Kota: Sanggau
{'nama': 'Khanesa', 'usia': 22}
nama: Khanesa
usia: 22